@use "variables.scss";
.profilecard {
    width: 258px;
    background: variables.$tint-1;
    border-radius: 16px;
    text-align: center;
    padding: 20px;
    font-family: "Arial", sans-serif;
    direction: rtl;
    border: 1px solid variables.$gray-4;
  
    .profileheader {
      display: flex;
      flex-direction: column;
      align-items: center;
  
    .profileimage {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
      }
  
    .profilename {
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  
    .profilestats {
      margin: 15px 0;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: variables.$gray-7;
    }
    .stateItems{
      border-left: 1px solid variables.$gray-7;
    }
    .designs {
      display: flex;
      justify-content: space-around;
      margin: 15px 0;
  
      .designimage {
        width: 80px;
        height: 80px;
        border-radius: 8px;
        object-fit: cover;
        border: 1px solid variables.$gray-5;
      }
    }
  
    .followbutton {
      background: variables.$primary-color;
      color: variables.$tint-1;
      border: none;
      padding: 10px;
      width: 100%;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      transition: background 0.3s ease;
  
      &:hover {
        background: variables.$primary-color;
      }
    }
  }
  .add{
    width: 256px;
    height:40px;
    background-color: variables.$tint-1;
    border: 1px solid variables.$primary-color;
    border-radius:8px;
    display: flex;
    align-items: center;
    color: variables.$primary-color;
    justify-content: center;
    gap: 4px;
    
  }
@media (max-width: 768px) {
  .profilecard {
    width: 152px;
    height: 244px;
    .profileheader {
      justify-items: center;
      .profilename {
        font-size: 10px;
        margin-right: 5px;

      }
    }
    .profilestats {
      flex-direction: column;

      .stateItems {
        border-left: none;
      }
    }
  }
  .add {
    width: 128px;
    height: 32px;
    margin-right: 15px;
  }

}


  