@use 'variables.scss';

.header {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 5px;
    margin:0;
    background-color: variables.$primary-color;
    color: variables.$tint-1;
    top: 0;
    height:40px;
    width:100vw;
    text-align: center;
}
.text{
    color: variables.$tint-1;
    text-align: center;
    font-size: 10px;
}