@use 'variables.scss';
.navbar {
    display: flex;
    align-items: center;
    margin-top: 0;
    width:100vw;
    min-height: 80px;
    top:40px;
    left: 0;
    background: variables.$tint-1; 
    z-index: 1000; 
    display: flex;
    align-items: center;
    padding-left: 108px; 
    padding-right: 108px; 
    box-sizing: border-box; 
    overflow-x: hidden;
    justify-content: space-between;
  
}

  
  .navList {
    display: flex;
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
  }
  
  
  .listItem {
    color: variables.$gray-9;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
  }
  .listItem:hover {
    text-decoration: none;
    color: inherit;
  }
  

  
  
  .searchBox {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px; 
    border: 1px solid variables.$gray-4;
    border-radius: 25px;
    padding: 8px 16px;
    background: variables.$tint-1;
    margin-left: 76.54px;
  }
  
  .icon {
    position: absolute;
    left: 16px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: variables.$primary-color;
  }
  
  .searchInput {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 16px;
    text-align: right; 
    outline: none;
    color: variables.$primary-color; 
  }
  
  .searchInput::placeholder {
    color: variables.$primary-color;
  }
  
  .navbarLogo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 75.54px;
  }
  
  .logoImage {
    height: 40px;
    width: auto;
  }
  