@use "variables.scss";
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.productDetails {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.imageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 670px;
    height: 576px;
    margin-right: 108px;
    margin-top: 32px;
}

.thumbnail {
    width: 50px;
    cursor: pointer;
}
.detailsSection {
    flex: 1;
    width: 522px;
    height: 302px;
    margin-right: 32px;
    margin-top: 75px;
}

.productTitle {
    font-size: 24px;
    font-weight: bold;
    color: variables.$shade-7;
    border-bottom: 1px solid variables.$gray-3;
}

.priceSection {
    display: flex;
    width: 392px;
    height: 146px;
    align-items: center;
    gap: 10px;
    margin-right: 250px;

}

.price {
    font-size: 24px;
    font-weight: bold;
    color: variables.$gray-10;
    margin-right:390px ;
    white-space: nowrap;
}

.addToCart {
    display: flex;
    width: 184px;
    height: 48px;
    background: variables.$primary-color;
    color: variables.$tint-1;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    font-size: 14px;
    gap: 6px;    
}
.addtopersonal{
    display: flex;
    background: variables.$tint-1;
    width: 184px;
    justify-content: center;
    height: 48px;
    font-size: 14px;
    color: variables.$primary-color;
    border: 1px solid variables.$primary-color;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    padding-right: 12px;
    white-space: nowrap;
    gap: 6px;



    
}
.reviewsSection {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    border: variables.$gray-3 1px solid;
    width: 288px;
    height: 305px;
    border-radius: 16px;
    top:100px;
    margin-top: -290px;
    margin-right: 108px;
    
    h3{
        color: variables.$shade-7;
        font-weight: 600;
        font-size: 24px;
        align-items: center;
        line-height: 140%;
        letter-spacing: 0;
        margin-top: 2px;
        margin-right: 28px;
    }
}
.rating{
    margin-right: 28px;

    p{
    font-weight: 200;
    color: variables.$gray-7;
    font-size: 20px;
    margin-left: 20px;



}
    span{
        font-weight: 700;
        color: variables.$shade-1;
        font-size: 24px;
    }
}
.ratingSummary {
    display: flex;
    gap: 1px;
    flex-direction: column; 
    p{
        color: variables.$gray-8;
        margin-right: 28px;
        font-size: 12px;
        
}
    button{
        border: 1px solid variables.$primary-color;
        width: 161px;
        height: 48px;
        color: variables.$primary-color;
        margin-top: 3px;
        margin-right: 18px;
        margin-bottom: 10px;
    }


}
.user{
  color: #00966d;
  margin-left:468px;
  white-space: nowrap;
}
.name{
  color: variables.$gray-7;
  white-space: nowrap;

}

.stars {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 28px;
    gap: 5px;
    p{
        color: variables.$gray-7;
    }
}
  
.filledStar {
    color:#F4B740;
  }
  
.emptyStar {
    color: lightgray;
  }
  
.reviewItem {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
.reviewActions {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.sizebutton {
    padding:  8px 24px;
    width: 93px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid variables.$primary-color;
    color: variables.$primary-color;
    font-size: 16px;

} 
.reviewsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 808px;
    margin-right: 450px;
    top: 100px;
    flex: 1 1 100%;
  }

.reviewCard {
    background: variables.$tint-1;
    padding: 1rem;
    border-radius: 8px;

  }
.date{
    color: variables.$gray-7;
    white-space: nowrap;

}
  
  .header {
    display: flex;
    font-size: 14px;
    gap:32px;
    border-bottom: variables.$gray-3 1px solid;
    margin-bottom: 16px;

  }
  
  .rating {
    display: flex;
    margin: 0.5rem 0;
    align-items: center;
  }
  
  .star {
    color: #F4B740;
  }
  
  .comment {
    font-size: 16px;
    margin: 0.5rem 0;
    color: variables.$gray-10;
  }
  
  .features {
    display: flex;
    font-size: 14px;
    flex-direction: row;
    border-bottom: 1px solid variables.$gray-3;

  }
  
  .pros {
    color: variables.$gray-9; 
    width: 80px;
    height: 80px;
  }
  
  .cons {
    color: variables.$gray-9; 
    width: 50px;
    height:auto;
    font-size: 16px;
  }
  

  .feedback {
    display: flex;
    width: 199px;
    height: 24px;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 598px;


    span{
      color: variables.$gray-7;
      font-size: 14px;
    }
  }
  

.shirtImage{
    display: flex;
    gap: 12px;
}
.centerSection{
    width: 325px;
    margin-right: 500px;
    margin-top: 112px;

    p{
        white-space: nowrap;
        align-items: center;
        justify-content: center;

    }
}  