@use "variables.scss";

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .cartDetails {
    display: flex;
    flex-direction: column;
    width: 392px;
    height: 496px;
    padding: 20px;
    border: 1px solid variables.$gray-4;
    border-radius: 16px;
    background-color: variables.$tint-1;
    margin-top: 12px;
    gap: 5px;
    margin-left: 108px;
  }
  
  .discountSection {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
    //lable{
    //  font-size: 14px;
    //}
        p{
            font-size: 10px;
            color: variables.$gray-9;
        }
      
        button{
            width: 80px;
            height: 40px;
            border: 1px variables.$primary-color solid;
            color: variables.$primary-color;
        }
  }
  
  .discountinput{
    width: 240px;
    height: 20px;
    border-radius: 8px;
    border: 1px solid variables.$gray-4;
    margin-right: 25px;
    margin-left: 8px;
  }
  .cost{
    border-bottom: variables.$gray-4 1px solid;
  }


  .discountbox{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .summary  {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .row{
    display: flex;
  justify-content: space-between;
  align-items: center;

  }

  .submit{
    width: 344px;
    height: 40px;
    background-color: variables.$primary-color;
    color: variables.$tint-1;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 24px;
    font-size: 14px;

  }
  .warning{
    width: 432px;
    height: 179px;
    border: 1px solid variables.$gray-4;
    border-radius: 8px;
    margin-right: 998px;
    img{
      margin-right: 0;
    }
  }
  

  
  .productList {
    display: flex;
    flex-direction: column;
    width: 808px;
    margin-right: 108px;
        h2{
            color: variables.$gray-9;
            font-size: 16px;
            border-bottom: 1px solid variables.$gray-4;
        }
  }
  
  .productItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid variables.$gray-4;
  }  
  .productInfo {
    margin-right: 15px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 20px; 
        h4{
          white-space: nowrap;
        }
        p{
          white-space: nowrap;
        }

  }
  
  .quantityControls {
    display: flex;
    align-items:center ;
    gap: 10px;
    justify-content: space-between;
    margin-right: -110px;
    border: 1px  solid variables.$gray-4;
    border-radius: 8px;
    
    
  }
.deliveryInfo {
    display: flex;
    width: 140px;
    height: 25px;
    align-items: center;
    gap: 5px;
    margin-top: 100px;
    font-size: 12px;
    white-space: nowrap;
    margin-right: 230px;
  }

.stepper{
    margin-top: 32px;
    margin-right: 460px;
    margin-left: 460px;

}  
.close{
    margin-left: 24px;
}

