.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: flex-end;
}

.sidebar {
  background: white;
  width: 300px;
  height: 100%;
  padding: 16px;
  overflow-y: auto;
  animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.closeBtn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.section {
  margin-bottom: 24px;
}

.images {
 display: flex;
  flex-direction: row;
  gap: 8px;
}
